.MovieCard {
  text-align: center;
  text-align: -webkit-center;
  list-style: none;
  border: 5px outset black;
  border-radius: 15px 5px 15px 5px;
  margin: 5px;
  padding: 0px 15px;
  background-color: darkslategrey;
}

.MovieCard .title {
  max-width: 170px;
  margin: 10px 0px;
  padding: 0;
}

.MovieCard .year {
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 75%;
  font-weight: 100;
}

.MovieCard .btn-container {
  margin: 0px 0px 15px 0px;
}

.MovieCard .btn-container button {
  padding: 5px;
}
